{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
<meta name="description" content="Estate Agency">
<meta name="keywords" content="agency, Minsk, estate agency, contacts">
<link rel="stylesheet" type="text/css" href="/static/css/agency_list.css"> <!-- Подключаем ваши стили -->
{% endblock %}

{% block content %}

{% if user.is_authenticated and not user.is_superuser %}
<div style="float: right;">
    <button class="button2"
            onclick="window.location.href = '{% url 'profile_user:profile' %}'">Profile
    </button>
</div>
{% endif %}

<script src="/static/js/4_agency_list.js"></script>

{% if user.is_superuser %}
<div style="float: right;">
    <button class="button2"
            onclick="window.location.href = '{% url 'EstateAgency:agency_analyse' %}'">Analyse
    </button>
    <button class="button2"
            onclick="window.location.href = '{% url 'EstateAgency:immovables_create' %}'">Add
    </button>
</div>
{%endif%}

<div class="sort-buttons">
    {% if is_sort_by_price %}
    <button class="button2" onclick="window.location.href = '{% url 'EstateAgency:agency_list' choose_category%}'">Sort
        by
        Price
    </button>
    {% else %}
    <button class="button2"
            onclick="window.location.href = '{% url 'EstateAgency:agency_list_sort_by_price' choose_category%}'">
        Sort by Price
    </button>
    {% endif %}

    <select class="button2" id="categorySelector" onchange="redirectToSelectedCategory()"
            onselect=choose_category>
        <option value="{% url 'EstateAgency:agency_list' 0 %}">All</option>
        {% for category in categories %}
        <option value="{% url 'EstateAgency:agency_list' category.id %}"
                {% if category.id == choose_category %}
                selected
                {% endif %}>
            {{ category.name }}
        </option>
        {% endfor %}
    </select>
    <script>
    function redirectToSelectedCategory() {
        var selectedOption = document.getElementById("categorySelector").value;
        window.location.href = selectedOption;
    }
    </script>

</div>
{% if user.is_authenticated or user.is_superuser %}
<label>Quote: {{timezone_context.quote}}</label><br>
<label>Joke: {{timezone_context.joke}}</label>
{%endif%}
<ul class="immovables-list">
    {% for m in immovables %}

    <li class="immovables-card" onclick="window.location.href='{% url 'EstateAgency:immovables_id' m.id %}'">
        {% load static %}
        <img src="/{{ m.photo }}"
             alt="image" class="immovables-image">
        <div class="immovables-info">{{ m }}</div>
        <div class="immovables-info">Capacity: {{ m.capacity }}</div>
        <div class="immovables-info">Price: {{ m.price }}</div>
        {% if user.is_superuser%}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="immovables_id" value="{{ m.id }}">
            <button name="button1" class="button2">
                Delete
            </button>
        </form>
        {%endif%}
    </li>
    {% empty %}
    <li>No immovables</li>
    {% endfor %}
</ul>
<header>
    <div class="immovables-info"><br>
        {{ timezone_context.calendar|safe }}<br>
        <label>User Timezone: {{ timezone_context.user_timezone }} |</label>
        <label>Current Date: {{ timezone_context.current_date|date:"d/m/Y" }} </label>
    </div>
</header>

{% endblock %}