{% extends 'EstateAgency/base_agency.html' %}

{% block content %}
<label class="immovables-text" style="text-align: center;">Total earnings: {{total_earnings}}</label><br>
<label class="immovables-text" style="text-align: center;">Average bill: {{average_bill}}</label><br><br>
<label class="immovables-text" style="text-align: center;">The most popular object: {{most_popular_immovables}}</label><br>
<label class="immovables-text" style="text-align: center;">It has a total of {{total_bookings}} bookings</label><br>

<img src="data:image/png;base64,{{ plot_data }}">

<ul class="immovables-list">
    {% for booking in bookings %}
    <li class="immovables-item">
        <div class="immovables-text">
            <label>Name: {{ booking.client }}</label><br>
            <label>Phone: {{ booking.client.phone_number }}</label><br>
            <label>Has child: {{ booking.has_child }}</label><br>
            <label>Check-In: {{ booking.check_in_date }}</label><br>
            <label>Check-Out: {{ booking.check_out_date }}</label><br>
            <label>Status: {{ booking.status }}</label><br>
            <label>Total cost: {{ booking.calculate_total_cost }}</label>
        </div>
    </li>
    {% empty %}
    <li>No booking</li>
    {% endfor %}
</ul>

<table border="2" style="width:100%;">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Has child</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Status</th>
        <th>Total cost</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.client }}</td>
        <td> {{ booking.client.phone_number }}</td>
        <td> {{ booking.has_child }}</td>
        <td> {{ booking.check_in_date }}</td>
        <td> {{ booking.check_out_date }}</td>
        <td>{{ booking.status }}</td>
        <br>
        <td> {{ booking.calculate_total_cost }}</td>
    </tr>
    {% empty %}
    <li>No booking</li>
    {% endfor %}
</table>
{% endblock %}
