{% extends 'EstateAgency/base_agency.html' %}

{% block header %}
{% endblock %}

{% block content %}
<script src="/static/js/6_promocode_immovables_detail.js"></script>
{% load static %}
<img src="/{{ form.photo }}"
     alt="My image" class="immovables-image">
<div class="immovables-text">
    <div>{{ form }}</div>
    <div>Capacity: {{ form.capacity }}</div>
    <div>Price: {{ form.price }}</div>
    <br>

    {% if user.is_authenticated and not user.is_superuser%}

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div style="text-align: center;">
            <label>Check-In date</label>
            <input type="date" name="check_in_date" required><br>

            <label>Check-Out date:</label>
            <input type="date" name="check_out_date" required><br>

            <label>Has_child:</label>
            <input type="checkbox" name="has_child" ><br>

            <button name="book_immovables">Book estate object</button>

            <br>

            <label for="immovablesOriginalPrice">Cost of the product:</label>
            <input type="number" id="immovablesOriginalPrice" value="{{ form.price }}" readonly>

            <br>

            <label for="immovablesPromoCode">Enter promo (For example: 10[%]):</label>
            <input type="number" id="immovablesPromoCode" placeholder="Enter your promo code">

            <br>

            <button onclick="calculateDiscount()">Calculate discount</button>

            <p id="immovablesResult"></p>

        </div>
    </form>
</div>
{%endif%}

{% if user.is_superuser %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="text-align: center;">
        <label>Price:</label>
        <input type="number" min="0" step="any" name="price" required><br>

        <label>Capacity:</label>
        <input type="number" min="0" name="capacity" required><br>

        <label>Photo:</label>
        <input type="file" name="photo" required><br>

        <label>Category:</label>
        <select class="register-button" name="select">
            {% for category in categories %}
            <option value="{{ category.id }}"> {{ category.name }}</option>
            {% endfor %}
        </select><br>

        <button name="edit_immovables">Edit</button>
    </div>
</form>
{%endif%}

{% endblock %}