{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
    <meta name="description" content="Home. Latest article and information about partner companies">
    <meta name="keywords" content="article, latest article, partner companies, partnership">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
    <div class="main-content">
        <aside class="banner-object1">
            <a href="https://openai.com/gpt-4">
                <img src="static/banner/GPT.png" alt="Advertising banner & Out Future" width="50">
            </a>
        </aside>
        <aside class="banner-object2">
            <a href="https://www.google.com">
                <img src="static/banner/Google.png" alt="Advertising banner & Out Future" width="50">
            </a>
        </aside>

        <section id="top">
          <img src="https://aryan-tayal.github.io/Mountains-Parallax/bg.jpg" id="bg" />
          <h2 id="text">Mountains</h2>
          <img src="https://aryan-tayal.github.io/Mountains-Parallax/man.png" id="man" />
          <img src="https://aryan-tayal.github.io/Mountains-Parallax/clouds_1.png" id="clouds_1" />
          <img src="https://aryan-tayal.github.io/Mountains-Parallax/clouds_2.png" id="clouds_2" />
          <img src="https://aryan-tayal.github.io/Mountains-Parallax/mountain_left.png" id="mountain_left" />
          <img src="https://aryan-tayal.github.io/Mountains-Parallax/mountain_right.png" id="mountain_right" />
        </section>
        <section id="sec">
          <h2>
              Estate Agency
          </h2>
          <p>
              Welcome to our Estate Agency, where your dream home becomes a reality. We're here to guide you through the exciting journey of buying or selling your property. Our dedicated team of experienced professionals is committed to providing you with personalized service, market expertise, and the utmost integrity. Whether you're searching for a new home, an investment property, or looking to list your property, we've got you covered. Let's turn your real estate dreams into a stunning reality. Discover the perfect place to call home with our Estate Agency.
          </p>
            <section itemscope itemtype="https://schema.org/Article" class="latest-article">
            <h2 itemprop="name">Latest article:</h2>
            <h3 itemprop="headline">{{ latest_article.title }}</h3>
            <p itemprop="description">{{ latest_article.content|slice:"200" }}
                {% if latest_article.content|length > 200 %}...{% endif %}</p>
        </section>

        <article itemscope itemtype="https://schema.org/Organization" class="partner-companies">
            <h2>Partner companies:</h2>
            <div class="partner-list">
                <div itemprop="affiliation" itemscope itemtype="https://schema.org/Organization" class="partner">
                    <a href="https://www.youtube.com/">
                        <div class="partner-logo-container">
                            <img src="static/partners/YouTube.png" alt="Logo 1" class="partner-logo">
                        </div>
                        <span class="company-name">YouTube</span>
                    </a>
                </div>
                <div itemprop="affiliation" itemscope itemtype="https://schema.org/Organization" class="partner">
                    <a href="https://www.amazon.com/">
                        <div class="partner-logo-container">
                            <img src="static/partners/amazon.png" alt="Logo 2" class="partner-logo">
                        </div>
                        <span class="company-name">Amazon</span>
                    </a>
                </div>
                <div itemprop="affiliation" itemscope itemtype="https://schema.org/Organization" class="partner">
                    <a href="https://www.github.com/">
                        <div class="partner-logo-container">
                            <img src="static/partners/github.png" alt="Logo 3" class="partner-logo">
                        </div>
                        <span class="company-name">GitHub</span>
                    </a>
                </div>
                <div itemprop="affiliation" itemscope itemtype="https://schema.org/Organization" class="partner">
                    <a href="https://www.facebook.com/">
                        <div class="partner-logo-container">
                            <img src="static/partners/FaceBook.png" alt="Logo 4" class="partner-logo">
                        </div>
                        <span class="company-name">Facebook</span>
                    </a>
                </div>
            </div>
        </article>
        </section>


    </div>
    <script src="/static/js/3_main_scroll-animations.js"></script>
{% endblock %}
