{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
<meta name="description" content="Latest news and articles">
<meta name="keywords" content="news, articles, information">
{% endblock %}

{% block content %}

<ul>
    {% for news in news_list %}
    <li itemscope itemtype="http://schema.org/Product">
        <h3 itemprop="headline">{{ news.title }}</h3>
        <img itemprop="image" src="{{ news.image.url }}" alt="{{ news.title }}" width="100" style="float: left;">
        <p itemprop="description">{{ news.content|slice:"100" }}{% if news.content|length > 100 %}...{% endif %}</p>
        <a itemprop="url" href="{% url 'news:current_news' news.id %}">Read more</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
