{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
<meta name="description" content="Estate Agency">
<meta name="keywords" content="agency, Minsk, estate agency, contacts">
<link rel="stylesheet" type="text/css" href="/static/css/about.css"> <!-- Подключаем ваши стили -->
{% endblock %}


{% block content %}
<div class="main-container">
<figure itemscope itemtype="https://schema.org/Organization">
    <p><img src="/static/logo/logo.png" alt="Logo company" width="100" class="company-logo"></p>
    <figcaption itemprop="name" class="company-name">Estate Agency</figcaption>
</figure>

<article>
    <blockquote class="quote english">Remember:<br>
        Airplane
        <wbr>
        flying,<br>
        against the wind,<br>
        not
        <wbr>
        with it.
    </blockquote>
</article>

<a href="#n1" class="certificate-link">Certificate</a>

<article class="certificate">
    <p itemprop="description"><b></b>
        <div class="company-description">
        We are the oldest real estate agency in our region, specializing in helping clients find and acquire their ideal
        homes. Our experience and professionalism make us a trusted partner in the real estate world.
        </div>
        <br><br><em itemprop="numberOfImmovables">200+ estate objects</em>
        <br><br><strong>Our Advantages:</strong>
        <ol class="ol-marker-list">
            <li>Experience and Reliability: We have been operating in the real estate market for many years and have gained the
                trust of thousands of clients. Our experts possess deep knowledge of the real estate industry and are always
                ready to share their insights with you.</li>
            <li>Diverse Property Portfolio: Our catalog includes a variety of property options, ranging from cozy apartments to
                luxurious villas. We will assist you in finding the perfect home that suits your needs and budget.</li>
            <li>Personalized Approach: We understand that every client is unique, which is why we provide an individualized
                approach to each transaction. Your needs and desires are always our priority.</li>
            <li>Professional Consultations: Our experts are ready to assist you with any real estate-related questions,
                including legal matters, financial inquiries, and property evaluations.</li>
            <li>Transparency and Honesty: We value the trust of our clients and always provide honest information about each
                property. There will be no unpleasant surprises.</li>
        </ol>
</article>

<article>
    <p>Founder: <a href="https://www.instagram.com/tikhanionok/">
        <sup>We aim</sup> to make the process of buying or selling real estate as comfortable and secure as possible
        for you.
        Trust the professionals and experience the best in the world of real estate with our Estate Agency</a>
        <time datetime="1990-08-6" itemprop="foundingDate"></time>
    </p>
    <hr>
</article>

<!--
<article>
    <p>
        To operate the site uses <abbr title="База данных">DB</abbr> <u>sqlite3</u><br>
        <code>
            class Client(AbstractUser):<br>
            first_name = models.CharField(max_length=100)<br>
            last_name = models.CharField(max_length=100)<br>
            patronymic = models.CharField(max_length=100)<br>
            birth_date = models.DateField()<br>
            phone_number = models.CharField(max_length=20)<br>
        </code>
    </p>
    <p>For example <var>first_name</var>:</p>
    <p>Example of a registered user<samp>Ilya</samp></p>
    <hr>
</article>
-->

<article>
    <video controls style="width: 100%;" class="video">
        <source src="/static/video/estateagency.mp4" type="video/mp4">
        Your browser does not support video playback.
    </video>
    <br>
    <audio controls style="width: 100%;" class="audio">
        <source src="/static/mp3/lofi.mp3" type="audio/mp3">
        Your browser does not support audio playback.
    </audio>
    <br>
</article>

<article>
    <iframe src="https://www.wikiwand.com/ru/HTML5" width="100" height="200" class="iframe_ref">
        Your browser does not support iframes!
    </iframe>
</article>

<article>
    <h2 itemprop="event">History of our company:</h2>
    <ul class="history">
        <li><strong>Establishment:</strong> The real estate agency was founded in 20001 in Lepel.</li>
        <li><strong>Construction: </strong> The construction of the agency's facilities began in 1985 and was completed
            in 2002.</li>
        <li><strong>Opening:</strong>The agency officially opened its doors in 2003</li>
        <li><strong>First Guests:</strong>The first guests of the agency were foreign tourists.</li>
        <li><strong>Initial Events:</strong>During its first year of operation, the agency hosted several international
            conferences.
        </li>
        <li><strong>Development:</strong> Over the course of its second year in operation, the agency continued to grow
            and expand its services.
        </li>
        <li><strong>Increase in Occupancy:</strong>The number of agency guests increased by 20% during its second year
            of operation.
        </li>
        <li><strong>Enhanced Services:</strong>The agency introduced new services and amenities for its guests,
            including a restaurant, bar, and swimming pool.
        </li>
        <li><strong>Participation in Events:</strong>The agency actively participated in several international exhibitions.
        </li>
    </ul>
</article>

<article>
    <h2 itemprop="contact">Contact Information</h2>
    <p itemprop="address" class="requisites">Address: Minsk, Belarus</p>
    <p itemprop="telephone" class="requisites">Phone: +375 (29) 849-40-96</p>
    <p itemprop="email" class="requisites">Email: estateagency@gmail.com</p>
</article>

<h2 id="n1" class="certificate">Certificate</h2>
<div style="border: 3px #333671 solid; width: 500px" class="certificate">
    <h1 style="color: #0059b2" align="center">UNIFIED ESTATE REGISTER</h1>
    <h1 style="color: red" align="center">CERTIFICATE</h1>
    <h1 style="color: #0059b2" align="center">ON DATA INCLUSION</h1>
    <br><br><br>
    <small>
        <p style="margin: 0; display: inline; float: left">Minsk</p>
        <p style="margin: 0; display: inline; float: right">Sep 1th, 2003</p>
    </small>
    <br><br>
    <h4 align="center">LIMITED LIABILITY COMPANY "Luxe Living Realty"</h4>
    <p align="center">(TIN 23456723)</p>
    <h4 align="center"><u>Registry Number: 5478</u></h4>
    <br><br>
    <div>
        <div>
            <h6>Tsikhanionak I.A.</h6>
            <h6>Director of the "Luxe Living Realty" Association</h6>
        </div>
    </div>
    <hr>
    <p align="right" class="requisites"><small>Association "Luxe Living Realty"<br> in the field of outbound agency "Luxe Living Realty"</small></p>
    <p align="right" class="requisites"><small>985356 Minsk, Kireenko Street, House 3</small></p>
    <p align="right" class="requisites"><small>Tel. +375 (29) 849-40-96</small></p>
    <p align="right" class="requisites">e-mail: office@cinema.by<small></small></p>
</div>
</div>

<h1>Result task</h1>
<script src="/static/js/result_task.js"></script>

{% endblock %}
