{% extends 'EstateAgency/base_agency.html' %}

{% block header %}
{% endblock %}


{% block content %}

<ul class="immovables-list">
    {% for booking in all_booking %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="booking_id" value="{{ booking.id }}">
        <li class="immovables-item">
            <div class="immovables-text">
                <label>{{ booking.immovables }}</label><br>
                <label>Check in/out: </label>
                <label>{{ booking.check_in_date }} --></label>
                <label>{{ booking.check_out_date }}</label><br>
                <label>Total cost: {{ booking.calculate_total_cost }}</label>
            </div>
            <button name="delete_item"> Delete</button>
        </li>
    </form>
    {% empty %}
    <li>No objects</li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    <button name="confirm"> Confirm</button>
</form>

<form method="post">
    {% csrf_token %}
    <details>
        <summary>Leave feedback</summary>
        <input type="range" name="range" min="1" max="5"><br/>
        <textarea name="text"></textarea><br/>
        <button type="submit" name="review">Leave feedback</button>
    </details>
</form>

{% endblock %}