{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
<meta name="description" content="Our employees">
<meta name="keywords" content="employees, staff, team">
{% endblock %}

{% block content %}

<h1>Our employees</h1>
<ul>
    {% for employee in employees %}
    <li>
        <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" width="100">
        <h2>{{ employee.name }}</h2>
        <p>Job title : {{ employee.position }}</p>
        <p>Email: {{ employee.email }}</p>
        <p>Number: {{ employee.phone }}</p>
    </li>
    {% endfor %}
</ul>


{% endblock %}