{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
<meta name="description" content="Our employees">
<meta name="keywords" content="employees, staff, team">
<link rel="stylesheet" type="text/css" href="/static/css/employee.css">
{% endblock %}

{% block content %}
<h1>Our employees</h1>
<ul class="staff-container">
    {% for employee in employees %}
    <li class="staff-member">
        <img class="staff-photo" src="{{ employee.photo.url }}" alt="{{ employee.name }}">
        <h2 class="staff-name">{{ employee.name }}</h2>
        <p class="staff-role">Job title: {{ employee.position }}</p>
        <p class="staff-contact">Email: {{ employee.email }}</p>
        <p class="staff-contact">Number: {{ employee.phone }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
