/* Стили для шапки */
.header {
    background-color: #40035c; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px 0; /* Внутренние отступы сверху и снизу */
    display: flex; /* Устанавливаем flex-контейнер */
    justify-content: space-between; /* Равномерное распределение элементов */
    align-items: center; /* Выравнивание элементов по центру */
}

.logo {
    font-size: 24px; /* Размер шрифта логотипа */
    cursor: pointer; /* Изменение курсора при наведении */
}

.nav {
    display: flex; /* Устанавливаем flex-контейнер для навигации */
    gap: 20px; /* Расстояние между элементами навигации */
}

.nav-item {
    cursor: grab pointer; /* Изменение курсора при наведении на элементы навигации */
}

/* Стили для основного контента */
.main-content {
    margin: 10px; /* Внешние отступы */
}

/* Стили для футера */
.footer {
    background-color: #40035c;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    cursor: pointer; /* Изменение курсора при наведении на элементы футера */
}
