.header_faq {
    text-align: center;
}

/* Стиль для выпадающего списка (select) */
details {
  width: 1450px; /* Установите ширину по вашему выбору */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}

/* Стиль для опций выпадающего списка (option) */
details option {
  font-size: 16px;
  padding: 5px;
  background-color: #fff;
  color: #333;
}

/* Изменение стиля опции, когда она выбрана */
details option:checked {
  background-color: #007BFF; /* Пример выбранного цвета */
  color: #fff;
}

/* Стили для карточки вопроса */
.faq-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px; /* Для создания закругленных углов */
  padding: 20px;
  margin-bottom: 20px;
  width: 100%; /* Занимать всю ширину страницы */
}

/* Стили для текста вопроса */
.faq-question {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Стили для текста ответа */
.faq-answer {
  font-size: 16px;
  color: #000;
}

/* Удаление маркера списка */
.faq-item::marker {
  content: "";
}

/* Скрытие маркера списка в Chrome */
.faq-item summary::-webkit-details-marker {
  display: none;
}
