/* Стили для блоков круглой формы */
.partner-item {
    display: inline-block; /* Размещаем блоки в одной строке */
    width: 150px; /* Устанавливаем ширину блока */
    border-radius: 50%; /* Создаем круглую форму */
    background-color: #0074D9; /* Устанавливаем цвет фона */
    text-align: center; /* Выравниваем текст по центру */
    margin: 10px; /* Устанавливаем внешние отступы между блоками */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.partner-logo {
    max-width: 100px; /* Устанавливаем максимальную ширину для логотипа */
    display: block; /* Преобразуем логотип в блочный элемент для центрирования */
    margin: 10px auto; /* Центрируем логотип по горизонтали */
}

.company-name {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для имени компании */
    font-size: 16px; /* Устанавливаем размер шрифта */
    color: #333; /* Устанавливаем цвет текста */
}
