/*------------js_settings-----------*/

/* Стили для заголовка */
h2 {
    font-size: 20px;
    color: #333;
    margin: 20px 0;
}

/* Стили для формы */
#rotation-form {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Стили для метки и ввода интервала */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

/* Стили для кнопок "Запустить ротацию" и "Остановить ротацию" */
button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: radial-gradient(ellipse at center, #673ab7 0%, rgba(2,0,36,1) 25%, rgba(79,1,91,1) 100%); /* Deep Purple */
}

/*-------------news_settings----------------*/

/*-------------news_settings----------------*/

/* Стили для списка новостей */
.news-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Стили для карточки новости */
.news-item {
  flex-basis: calc(50% - 20px); /* По 2 карточки в строке с промежутком в 20 пикселей */
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
  transition: transform 0.3s;
  box-sizing: border-box;
}


/* Стили для заголовка статьи */
.news-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Центрируем текст по горизонтали */
}

/* Стили для краткой информации */
.news-summary {
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Стили для изображения */
.news-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Центрируем изображение по горизонтали */
  display: block;
}

/* Стили для кнопки "Читать далее" */
.read-more-button {
  display: block; /* Изменим на блочный элемент, чтобы располагалась по центру */
  margin: 0 auto; /* Центрируем кнопку по горизонтали */
  padding: 10px 20px;
  background: radial-gradient(ellipse at center, #673ab7 0%, rgba(2,0,36,1) 25%, rgba(79,1,91,1) 100%); /* Deep Purple */
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #555;
}

/* Добавим стили для "раскрытия" карточки при наведении */
.news-item:hover {
  transform: scale(1.05);
}

/* Многоколоночный макет для текста статьи */
.article-content {
  column-count: 2;
  column-gap: 20px;
}

/* Стили для абзацев внутри статьи */
.article-content p {
  margin-bottom: 10px;
}

/* Стили для списков внутри статьи */
.article-content ul,
.article-content ol {
  margin-left: 20px;
}

/* Стили для ссылок внутри статьи */
.article-content a {
  color: #333;
  text-decoration: underline;
}

.article-content a:hover {
  color: #555;
}

