{% extends 'EstateAgency/base_agency.html' %}

{% block head %}
<meta name="description" content="Frequently asked questions and answers">
<meta name="keywords" content="questions, answers, FAQ, information">
<link rel="stylesheet" type="text/css" href="/static/css/faq.css">
{% endblock %}

{% block content %}

<h1 itemprop="headline">FAQ</h1>
<ul class="faq-list" itemprop="mainEntity" itemscope itemtype="http://schema.org/FAQPage">
    {% for faq_item in faq_items %}
    <li class="faq-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Question">
        <details>
            <summary itemprop="name" class="faq-question">{{ faq_item.question }} - {{ faq_item.date_added }}</summary>
            <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
                <p itemprop="text" class="faq-answer">{{ faq_item.answer }}</p>
            </div>
        </details>
    </li>
    {% endfor %}
</ul>

{% endblock %}
