<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Page with promotional codes and coupons">
    <meta name="keywords" content="promotional codes, coupons, promotions, discounts">
    <title>Promotional codes and coupons</title>
    <link rel="stylesheet" type="text/css" href="/static/css/coupons.css">
</head>
<body>
    <h1 class="table-caption">Promotional codes and coupons</h1>
    <table class="promo-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th></th>
                <th>Valid</th>
            </tr>
        </thead>
        <tbody>
            {% for coupon in coupons_true %}
            <tr class="active-promo">
                <td>{{ coupon.code }}</td>
                <td colspan="2">{{ coupon.description }}</td>
                <td>Yes</td>
            </tr>
            {% endfor %}
            {% for coupon in coupons_false %}
            <tr class="archived-promo">
                <td>{{ coupon.code }}</td>
                <td colspan="2">{{ coupon.description }}</td>
                <td>No</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
